@import "sop-styl/embed"

.embed-responsive
  @extend $embed-responsive

.embed-responsive-item
  @extend $embed-responsive-item

.embed-responsive-16by9
  @extend $embed-responsive-16by9

.embed-responsive-4by3
  @extend $embed-responsive-4by3

.foo
  embed-responsive(3, 2)
