@import "sop-styl/font"

foo
  font-specs(16, 1.8, 100)

foo-auto
  font-specs(16, auto, 0)

foo-smooth
  font-specs(16, 1.2, 100, true)

foo-important-override
  font-specs(16, 1.2, 100, , !important)
