foo {
  font-size: 1.142857142857143em;
  line-height: 0.1125em;
  letter-spacing: 0.1em;
}
foo-auto {
  font-size: 1.142857142857143em;
  line-height: 1.2em;
  letter-spacing: 0;
}
foo-smooth {
  font-size: 1.142857142857143em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
}
foo-important-override {
  font-size: 1.142857142857143em !important;
  line-height: 1.2em !important;
  letter-spacing: 0.1em !important;
}
