.test {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: test;
  animation: test;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@-moz-keyframes test {
  0% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes test {
  0% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes test {
  0% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
@keyframes test {
  0% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
