@import "sop-styl/mixins"

.test
  appearance none
  transform translate(-50%, -50%)
  transition all .2s

  animation test

  animation-timing-function ease-in-out
  animation-delay           2s
  animation-duration        5s

  backface-visibility hidden

@keyframes test
  0%
    color #000

  100%
    color #fff
