@import "sop-styl/mixins"

.test
  appearance none
  transform translate(-50%, -50%)
  transition all .2s

  animation test

  animation-timing-function ease-in-out
  animation-delay           2s
  animation-duration        5s

@keyframes test
  0%
    opacity 1

  100%
    opacity 0
