.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: $screen-xs-max) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: $screen-xs-max) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: $screen-xs-max) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: $screen-lg-min) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: $screen-lg-min) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: $screen-lg-min) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: $screen-xs-max) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: $screen-lg-min) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
