appearance()
  -webkit-appearance arguments
  -moz-appearance    arguments
  appearance         arguments

transition()
  -webkit-transition arguments
  -moz-transition    arguments
  -ms-transition     arguments
  -o-transition      arguments
  transition         arguments

transform()
  -webkit-transform arguments
  -moz-transform    arguments
  -ms-transform     arguments
  -o-transform      arguments
  transform         arguments
