@import "nib"

appearance()
  vendor("appearance", arguments, only: webkit moz official)

transition()
  vendor("transition", arguments, only: webkit moz ms o official)

transform()
  vendor("transform", arguments, only: webkit moz ms o official)

animation()
  vendor("animation", arguments, only: webkit official)

animation-timing-function()
  vendor("animation-timing-function", arguments, only: webkit official)

animation-delay()
  vendor("animation-delay", arguments, only: webkit official)

animation-duration()
  vendor("animation-duration", arguments, only: webkit official)
